@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600;700&display=swap');
@import 'unreset';



@font-face {
    font-family: Array;
    src: url(../assets/fonts/Array-Regular.woff);
  }

* {
    font-family: 'Outfit', sans-serif;

}



.gradient-bg {
    background: rgb(255,239,172);
    background: linear-gradient(180deg, rgba(255,239,172,1) 0%, rgba(245,249,255,1) 52%);
}

.perspective-r {
    transform:
        perspective(75em)
        rotateY(-10deg);
}
.perspective-l {
    transform:
        perspective(75em)
        rotateY(-15deg);

}

.pattern-1{
    background-color: #ffffff;

    background-image:  linear-gradient(#f1f1f1 1px, transparent 1px), linear-gradient(to right, #f1f1f1 1px, #ffffff 1px);
    background-size: 20px 20px;
}

.pattern-2 {
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #f1f1f1, #f1f1f1 1px, #ffffff 1px, #ffffff);
}



